@import '../color-variables';

:host {
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 4%;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    color: map-get($gray , 100 );
    border-top: 1px solid map-get($gray , 800 );
    position: static;
    bottom: 0;
  }

  a {
      
    }

