@import '../txt-styles';
@import '../color-variables';

:host{
display: block;
color: map-get($gray , 300);
max-width: 66%;
}

.greeting{
  @extend h4;
  display: flex;
  flex-flow: row;
  align-items: center;
  transform: translate(-16px);

  color: map-get($gray , 100 )
}

.emphasize{
  color: map-get($gray , 100 )
}

#waving-hand {
  padding: 0 16px;
  transform: rotate(30deg);
  font-size: 32px;
  text-align: center;
  animation: wave 600ms alternate infinite;
  transform-origin: 50% 50%;
  animation-timing-function: cubic-bezier(0.25,0,0.75,1)
}

@keyframes wave {
  0% {transform: rotate(-15deg);}
  100% {transform: rotate(30deg);}
}