@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

h1{
  /* H1 */
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 96px;
line-height: 121%;
/* or 116px */

letter-spacing: -0.015em;

}

h2{
  /* H2 */
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 114%;
/* or 68px */

letter-spacing: -0.005em;

}

h3{
  /* H3 */


font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 124%;
/* or 60px */

}

h4{
  /* H4 */


font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 118%;
/* identical to box height, or 40px */

letter-spacing: 0.0025em;

}

h5{
  /* H5 */


font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 116%;
/* or 28px */


}

h6{
  /* H6 */


font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 136%;
/* or 27px */

letter-spacing: 0.0015em;


}

.subtitle1{
  /* Subtitle 1 */


font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 124%;
/* or 20px */

letter-spacing: 0.0015em;

}

.subtitle2{
  /* Subtitle 2 */


font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 116%;
/* identical to box height, or 16px */

letter-spacing: 0.001em;

}

.body{
  /* Body */


font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 172%;
/* or 20px */

letter-spacing: 0.005em;

}

.body2{
  /* Body 2 */


font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 168%;
/* or 15px */

letter-spacing: 0.0025em;


}

.buttontxt{
  /* Button */


font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 116%;
/* identical to box height, or 16px */

letter-spacing: 0.0125em;
text-transform: uppercase;

}

.caption{
  /* Caption */


font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 104%;
/* or 12px */

letter-spacing: 0.004em;

}

.overline{
  /* Oveline */


font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 120%;
/* identical to box height, or 12px */

letter-spacing: 0.015em;
text-transform: uppercase;

}