@import '../color-variables';

:host{
  position: relative;
  color: map-get($gray , 200 );
  a{
    color: unset;
  }
}

.project-container{
  width: 100%;
  height: 270px;
  overflow: hidden;
  border: 1px solid map-get($gray, 700);
  border-radius: 2px;
  display: block;
  position: relative;
  margin-bottom: 24px;

}

.img-cover{
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
  margin-top: -50%;
  vertical-align: middle;
}

.label{
  position: absolute;
  display: flex;
  flex-flow: column;
  background-color: map-get($gray , 900);
  height: 64px;
  width: calc(100% - 32px);
  bottom: 0;
  padding: 15px 16px 13px;
}

.label-content{
  width: 100%;
  margin: auto 0;
  
  p{
    margin: 4px 0;
  }
}

.caption{
  color: map-get($gray, 300 );
}
