@import '../color-variables';
@import '../txt-styles';

a {
  color: $accent;
  text-decoration: none;
}

.content {
  display: block;
  padding: 4%;
  max-width: 920px;
  margin: auto;
  margin-bottom: 56px;
}

h6 {
  color: map-get($gray, 100);
  text-transform: capitalize;
}

.project-info {
  @extend .body;
  // max-width: 75%;
  @media (pointer: coarse) {
    max-width: unset;
    font-size: 16px;
  }
  color: map-get($gray, 300);
}

.ano {
  color: map-get($gray, 300);
}

.btmmg {
  margin-bottom: 8px;
}
