<div class="content"><a routerLink=''>
		<p class="buttontxt">👈 back to projects</p></a>
    <h6 style="margin: 16px auto">[item.nome]</h6>
    <p class="project-info">One of the most popular ways of making payments in Brazil is the so called boleto. It's a bank slip with a barcode that can be scanned in order to make the payment. Normally they must be paid cash, so that's where pagboletos comes in: their proposition value is allowing users to pay the boleto with their credit, which gives the user more time to pay for their debt.</p>
	</div>