<div class="content">
  <app-intro></app-intro>
  <a
    *ngFor="let item of projects.buscaListaProjetos()"
    [routerLink]="['/projects', item.nome]"
  >
    <app-project-template
      [year]="item.ano"
      [imgsrc]="item.coverurl"
      [nomeprojeto]="item.nome"
      [descricao]="item.description"
    ></app-project-template>
  </a>
  <hr class="no-print" />
  <section class="about">
    <h6 class="selfdescription">
      I'm a <span class="emphasize">product designer</span> who also has
      <span class="emphasize">front-end coding skills.</span> I'm interested in
      making products more
      <span class="emphasize"> usable, inclusive, desirable,</span> and
      <span class="emphasize"> smarter.</span>
    </h6>

    <section class="abouttopics">
      <div class="topic">
        <h4>Experience</h4>
        <div class="bullet">
          <p class="body">2023-present – Product Designer at Galley</p>
          <p class="body2 xpdescription">
            Galley is american US based startup that's building a Culinary
            Resource Planning tool. Being the only designer in the company I've
            helped shape many of its products, most notably the Menu Planner,
            which helps hundreds of chefs plan their work in the most efficient
            way. Besides that I also played a key role in implementing our PLG
            initiative in 2024 helping the company grow it's users base more
            steadily and faster.
          </p>
        </div>
        <div class="bullet">
          <p class="body">2021-2023 – Product Designer at ArcTouch</p>
          <p class="body2 xpdescription">
            ArcTouch is an American consultancy company that develops apps and
            experiences. Since the dawn of the app revolution, it has taken
            pride in having helped businesses of all sizes, from the Fortune 500
            to innovative startups. We work closely with big international
            clients like Disney, Audi, McCormick, HP, Volvo, etc.
          </p>
        </div>
        <div class="bullet">
          <p class="body">2022 – Figma instructor at EBAC</p>
          <p class="body2 xpdescription">
            EBAC (British School of Arts and Crafts), one of Brazil's most
            relevant online course platforms, invited me to develop and minister
            a 15h Figma course where I shared the best practices with the tool.
            This process took about four months' worth of planning, recording,
            editing, and reviewing, all with great care and attention to detail,
            and I'm proud of this enormous achievement.
          </p>
        </div>
        <div class="bullet">
          <p class="body">2018-2021 – UX designer at Caixa Econômica Federal</p>
          <p class="body2 xpdescription">
            Caixa Econômica is one of the biggest banks in Brazil, if not the
            biggest. I'm proud of having worked on several apps, most
            prominently Caixa Tem, with over 170M downloads that financially
            helped Brazilian people get through the 2020 COVID pandemic. I
            worked with nine other designers to build various of Caixa's apps,
            webpages, and internal systems.
          </p>
        </div>
        <div class="bullet">
          <p class="body">Before 2018 – Freelance UX/UI and Visual Design</p>
          <p class="body2 xpdescription">
            I did many visual identities and graphic design projects for small
            businesses and freelancers. Mostly friends and people who helped me
            in the beginning.
          </p>
        </div>
      </div>
      <div class="topic">
        <h4>Education</h4>
        <div class="bullet">
          <p class="body">2021 – OOUX Academy</p>
          <p class="body2 deemphasize">
            I was the first Brazilian to obtain this certificate and become the
            first Object Oriented UX strategist in Brazil. OOUX is a design
            philosophy that respects that human mental models are noun-first
            rather than verb-first. OOUX drastically changed my approach to
            design problems and helped me uncover and navigate complexity in any
            project.
          </p>
        </div>
        <div class="bullet">
          <p class="body">
            2013-2017 – Universidade de Brasília, Brasília, Brazil
          </p>
          <p class="body2 deemphasize">
            During this period, I majored in Graphic Design at Universidade de
            Brasília(UnB). My university is often well-ranked in federal
            university ranks and consistently positioned among the top 10
            universities in Brazil.
          </p>
        </div>
        <div class="bullet">
          <p class="body">
            2014-2015 – The New School, New York, USA Bachelor's
          </p>
          <p class="body2 deemphasize">
            1-year exchange program at Parsons, the new school for design in New
            York City. This experience completely changed my perspectives and
            probably had the most significant impact on my education experience.
            Besides being one of the top design institutions in the world,
            Parsons gave me an extraordinary opportunity to meet and study with
            people from all over the globe and meet different cultures and
            perspectives.
          </p>
        </div>
      </div>
      <div class="topic">
        <h4>Languages</h4>
        <div class="bullet">
          <p class="body">Portuguese</p>
          <p class="body2 deemphasize">Portguese is my native language.</p>
        </div>
        <div class="bullet">
          <p class="body">LIBRAS</p>
          <p class="body2 deemphasize">
            LIBRAS is the brazilian sign language. Im currently at an
            intermediary level.
          </p>
        </div>
        <div class="bullet">
          <p class="body">English</p>
          <p class="body2 deemphasize">
            I speak, read and write in fluent English.
          </p>
        </div>
      </div>
      <div class="body 2 deemphasize no-print">
        <a href="" id="resumedownload" onclick="window.print(); return false"
          >download my resumé</a
        >
        (save it as pdf)
      </div>
    </section>
  </section>
</div>
