@import '../txt-styles';
@import '../generic';
@import '../color-variables';
@import '../trumps';

hr {
  border-top: 1px solid map-get($gray, 700);
}

.content {
  display: block;
  padding: 4%;
  max-width: 920px;
  margin: auto;
  margin-bottom: 56px;
}

.selfdescription {
  color: map-get($gray, 300);
  padding: 16px 0;
  margin: 16px 0;
  max-width: 66%;
  @media (pointer: coarse) {
    max-width: unset;
  }
}

.abouttopics h6 {
  margin: 0;
  color: map-get($gray, 300);
}

.topic {
  margin-top: 0;
  margin-bottom: 24px;
  break-inside: avoid-page;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .bullet {
    margin-bottom: 8px;
    max-width: 80ex;
  }
}

#resumedownload {
  color: $accent;
}

.xpdescription {
  color: map-get($gray, 300);
}
